/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background-color: #1A0B2E;
}
html {
  font-size: 16px;
}
/* animation */
@keyframes pulse{
  0%,100%{
    transform: scale(1);
    box-shadow: 0 0 6px #00FF88;
  }
  50% {
    transform: scale(1.06);
    box-shadow: 0 0 16px #FB09B4;
  }
}
/* shared style */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.shared-btn {
  color: white;
  background: linear-gradient(48.9deg, #F7E93F 10%, #FB09B4 51%, #9100F8 100%);
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}
/* header section */
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  max-width: 1600px;
  margin: 0 auto;
  /* border: 2px solid lime;
  background-color: #412567; */
  border-bottom: 1px solid #412567;
}

nav .nav-logo p {
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.logo-span {
  background: linear-gradient(0deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  background-clip: text;
  color: transparent;
}

nav .nav-link ul {
  display: flex;
  gap: 32px;
}

nav .nav-link ul a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

nav .nav-link ul li {
  list-style: none;
}

.nav-btn {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 600;
  /* overflow: hidden; */
  animation: pulse 2s ease-in-out infinite;
}
.nav-button-replacement{
  display: none;
}
/* banner */
.banner {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 1600px;
  /* border: 2px solid yellow; */
  text-align: center;
  background-image: url("../assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .new-position{
  position: absolute;
  top: 1.25rem;
  right: 0;

}
.banner .new-position span{
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #00FF88;
  border-radius: 32px;
  background-color: #00FF88;
  padding: 5px 15px;
}
.banner-img-container {
  border: 8px solid #2A186C;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5rem 4.4rem 4rem ;
  margin-bottom: 40px;
  background: linear-gradient(45deg, #F7E93F 17%, #FB09B4 40%, #9100F8 100%);
  position: relative;
  /* background-size: 300% 300%;
  animation: animation-gradient 6s ease infinite; */
}

.banner .banner-microphone {
  padding: 0.5rem 3rem 1rem;
  width: 100%;
  /* height: auto; */

}

.banner-container-description h1 {
  color: white;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.banner-container-description p {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.banner-btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  /* overflow: hidden; */
  /* animation: pulse 2s ease-in-out infinite; */
}

.banner-btn .banner-spotify {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid white;
  font-size: 1rem;
  font-weight: 600;
  animation: pulse 2s ease-in-out infinite;
}

.banner-btn .Subscribe-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  background: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  animation: pulse 2s ease-in-out infinite;
}



/* About Podcast */
.about-podcast{
 color: white;
 margin: 50px auto;
 text-align: center;
 max-width: 1200px;
 /* border: 2px solid yellow; */
}
.about-break {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 5rem;
}

.about hr{
  margin: 80px 0;
  border: none;
  height: 1px;
  background-color: #412567;
}
.about-container-card{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5rem;
  
}
.about-container-card .about-card{
  /* border: 1px solid #00FF88; */
  text-align: center;
}
.about-container-card .about-card h1{
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 1rem;
}
.about-container-card .about-card p{
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 5px 24px;
}

/* why choose  */
.choose{
  color: white;
  background-color: #230E3D;
}
.choose-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 7.5rem 0;
}
.choose-container .choose-title{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.25rem;
}
.choose-container .choose-description{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr) 1.5fr;
  gap: 2rem;
}
.choose-container .choose-description .choose-card{
  background-color: #351165 ;
  border-radius: 2.23rem;
}
.choose-card{
  /* padding: 7rem 2.5rem; */
  /* border: 1px solid yellow; */
  padding:3rem;
}
.premium{
  grid-row: span 2;
  align-content: center;
  /* padding: 7rem 2.5rem; */
}
.mobile{
  grid-column: span 2;
  align-content: center;
}
 .global{
  grid-column: span 2;
  align-content: center;
}
.interviews{
  grid-column: span 2;
  align-content: center;
}
.interviews image{
  background-color: transparent;
}
.resources{
  grid-column: span 1;
  align-content: center;
}
.premium img ,h5{
  grid-row: span 2;
  margin-bottom: 1rem;
  align-content: center;
}
.mobile img ,h5{
  grid-row: span 2;
  margin-bottom: 1rem;
  align-content: center;
}
.global img ,h5{
  grid-row: span 2;
  margin-bottom: 1rem;
  align-content: center;
}
.interviews img ,h5{
  grid-row: span 2;
  margin-bottom: 1rem;
  align-content: center;
}
.resources img ,h5{
  grid-row: span 2;
  margin-bottom: 1rem;
  align-content: center;
}
.premium h5 ,.mobile h5, .global h5 ,.interviews h5 ,.resources h5{
  font-size: 1.5rem;
  font-weight: 700;
}
.premium p{
  font-size: 1rem;
  font-weight: normal;
}
/* Youtube Features */
.episode{
  color: white;
  background-color: #1A0B2E;
  max-width: 1200px;
  margin: 5rem auto;
}
.featured-title-episode{
  text-align: center;
}
.feature-card-container{
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  position: relative;
}
.feature-card{
  position: relative;
  width: 100%;
  max-width: 380px;
  border-radius: 1.5rem;
  background-color: #230E3D;
  overflow: hidden;
}
.video iframe{
  /* width: 100%;
  height: 100%; */
  width: 100%;
    height: 19rem;
  position: relative;
  top: 0;
  left: 0;
  max-width: 380px;
  border-radius: 1.5rem;
  z-index: 1;
}
.custom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-overlay img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 19rem;
  border-radius: 1.5rem;
  z-index: -1;
}
.custom-play-button{
  color: white;
  position: relative;
  top: -110px;
  z-index: 3;
  /* border: 1px solid white; */
  border-radius: 50%;
  padding: 1rem;
  background: linear-gradient(45deg, #F7E93F 17%, #FB09B4 40%, #9100F8 100%);
}
.video-youtube{
  display: none;
}
.video-youtube:checked ~ .custom-overlay{
  display: none;
}
.feature-description{
  padding: 1.5rem;
}
.feature-description h3{
  font-size: 1.5rem;
  font-weight: 700;
}
.feature-description p{
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: normal;
}
.feature-description .feature-span-button{
  padding-top: 1rem;
  display: flex;
  gap: 10px;
}

/* Meet The Host */
.meeting-container{
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  
}
.meeting-title{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.25rem;
}
.meeting-main-container{
 background-color: rgba(53, 17, 101, 0.4);
 border-radius: 2.25rem;
 display: flex;
 justify-content: space-between;
 padding: 2.25rem;
 align-items: center;
 gap: 1.25rem;
}
.meeting-main-container .meeting-discuss h3{
 font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.meeting-main-container .meeting-discuss p{
 font-size: 1rem;
  font-weight: normals;
  margin-bottom: 2rem;
}
.social-media{
  display: flex;
  gap: 2rem;
}
/* Footer */
footer{
  margin: 7.5rem auto 0;
  max-width: 1600px;
  /* height: 500px; */
  color: white;
  text-align: center;
  background-image: url("../assets/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.5rem;
  /* border: 1px solid #F7E93F; */
}
/* Footer */
.footer-logo{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer-social-media{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.footer-spotify,
.footer-apple,
.footer-youtube,
.footer-twitter{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}







@media screen and (max-width:992px) and (min-width:576px){
  /* nav section */
  nav{
    padding: 1rem;
  }
  /* banner section */
  .banner {
  background-size: contain;
  background-position: center;
  padding: 2.5rem 1rem;
  
}
.banner-img-container {
 
  max-width: 200px;
  margin: 0 auto;
  padding: 3rem 3.5rem;
  margin-bottom: 1.5rem;
  
}
.banner-img-container .banner-microphone{
  width: 100%;
  height: auto;
  padding: 5px;

}
.banner-container-description{
  margin-bottom: 1rem;
}
/* About Podcast */
.about-podcast{
 margin: 40px auto;
}
.about{

  padding: 1rem 3rem 0;
}
.about-description h1{
  margin-bottom: 1rem;
}
.about-break{
  display: block;
  margin-bottom: 16px;
}
.about hr{
  margin: 2.5rem 0;
}
.about-container-card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2.3rem;
  padding: 0  1.25rem;
}


/* Why Choose */
.choose-card{
  /* padding: 7rem 2.5rem; */
  /* border: 1px solid yellow; */
  padding:2rem;
}
.choose-container .choose-title{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.25rem;
}
.choose-container{
  padding:2rem 0 ;
}
.choose-container .choose-description .choose-card{
 margin:0 1.2rem;
}
.choose-container .choose-description{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(5,1fr);
  gap: 2rem;
}
.premium ,.mobile, .global ,.interviews ,.resources{
  grid-row: span 1;
  grid-column: span 1;
  /* padding: 7rem 2.5rem; */
}
.choose-container .choose-title{
  font-size: 2rem;
}
/* episodes */
.episode{
  margin: 2rem auto;
  
}
.feature-card-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  padding: 0 2rem;

}

/* meeting section */
.meeting-container{
  color: white;
  max-width: 25rem;
  margin: 0 auto;
  
}
.meeting-main-container{

 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 2.25rem;
 text-align: center;
 gap: 1.25rem;
}
.social-media{
  margin: 0 auto;
  /* justify-content: space-between; */
  justify-content: center;
}
/* Footer */
footer {
  margin: 3rem auto 8rem;
  padding: 1rem;
  background-size: 100% 100%;
  background-position: center;
  
}
.footer-logo{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer-social-media {
  display: flex;
  flex-wrap: wrap;
  /* flex: 0 0 40%;  */
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;   
}
.footer-social-media > div{
  flex: 0 0 40%;  
  display: flex;   
  width: calc(100%-50%);     
}
.footer-spotify,
.footer-apple,
.footer-youtube,
.footer-twitter{
 width: calc(100%-50%); 
}

}






@media screen and (max-width:576px) {
  nav{
    margin: 0 1.25rem;
  }
  nav .nav-link, nav .nav-btn{
    display: none;
  }
 .nav-button-replacement{
  display: flex;
  margin-right: 1rem;
}
/* banner */
.banner {
  background-size: contain;
  background-position: center;
  padding: 2.5rem 1rem
  
}
.banner-img-container {
 
  max-width: 200px;
  margin: 0 auto;
  padding: 3rem 3.5rem;
  margin-bottom: 1.5rem;
  
}
.banner-img-container .banner-microphone{
  width: 100%;
  height: auto;
  padding: 5px;

}
.banner-container-description{
  margin-bottom: 1rem;
}

/* about podcast */

.about-podcast{
 margin: 40px auto;
}
.about{

  padding: 1rem 1.25rem 0;
}
.about-description h1{
  margin-bottom: 1rem;
}
.about-break{
  display: block;
  margin-bottom: 16px;
}
.about hr{
  margin: 2.5rem 0;
}
.about-container-card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2.3rem;
  padding: 0  1.25rem;
}

/* Why Choose */
.choose-card{
  /* padding: 7rem 2.5rem; */
  /* border: 1px solid yellow; */
  padding:2rem;
}
.choose-container .choose-title{
  font-size: 0.5rem;
  font-weight: 700;
}
.choose-container{
  padding:2rem 0 ;
}
.choose-container .choose-description .choose-card{
 margin:0 1.2rem;
}
.choose-container .choose-description{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(5,1fr);
  gap: 1rem;
}
.premium ,.mobile, .global ,.interviews ,.resources{
  grid-row: span 1;
  grid-column: span 1;
  /* padding: 7rem 2.5rem; */
}
.choose-container .choose-title{
  font-size: 2rem;
}



/* episodes */
.episode{
  margin: 2rem auto;
  
}
.feature-card-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  padding: 0 2rem;

}

/* meeting section */
.meeting-container{
  color: white;
  max-width: 25rem;
  margin: 0 auto;
  
}
.meeting-main-container{

 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 2.25rem;
 text-align: center;
 gap: 1.25rem;
}
.social-media{
  margin: 0 auto;
  /* justify-content: space-between; */
  justify-content: center;
}

/* Footer */
footer {
  margin: 3rem auto 8rem;
  padding: 1rem;
  background-size: 100% 100%;
  background-position: center;
  
}
.footer-logo{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer-social-media {
  display: flex;
  flex-wrap: wrap;
  /* flex: 0 0 40%;  */
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;   
}
.footer-social-media > div{
  flex: 0 0 40%;  
  display: flex;   
  width: calc(100%-50%);     
}
.footer-spotify,
.footer-apple,
.footer-youtube,
.footer-twitter{
 width: calc(100%-50%); 
}
/* 

.footer-social-media>div:nth-child(odd) {
  justify-content: end;   
         
}
.footer-social-media>div:nth-child(even) {
  
  justify-content: start;   
         
} */

}