/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background-color: #1A0B2E;

}

html {
  font-size: 16px;
}

/* shared size */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.shared-btn {
  color: white;
  background: linear-gradient(48.9deg, #F7E93F 10%, #FB09B4 51%, #9100F8 100%);
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  max-width: 1600px;
  margin: 0 auto;
  /* border: 2px solid lime;
  background-color: #412567; */
  border-bottom: 1px solid #412567;
}

nav .nav-logo p {
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.logo-span {
  background: linear-gradient(0deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  background-clip: text;
  color: transparent;
}

nav .nav-link ul {
  display: flex;
  gap: 32px;
}

nav .nav-link ul a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

nav .nav-link ul li {
  list-style: none;
}

.nav-btn {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 600;
}
.nav-button-replacement{
  display: none;
}
/* banner */
.banner {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 1600px;
  /* border: 2px solid yellow; */
  text-align: center;
  background-image: url("../assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .new-position{
  position: absolute;
  top: 1.25rem;
  right: 0;

}
.banner .new-position span{
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #00FF88;
  border-radius: 32px;
  background-color: #00FF88;
  padding: 5px 15px;
}
.banner-img-container {
  border: 8px solid #2A186C;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5rem 4.4rem 4rem ;
  margin-bottom: 40px;
  background: linear-gradient(45deg, #F7E93F 17%, #FB09B4 40%, #9100F8 100%);
  position: relative;
}

.banner .banner-microphone {
  padding: 0.5rem 3rem 1rem;
  width: 100%;
  /* height: auto; */

}

.banner-container-description h1 {
  color: white;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.banner-container-description p {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.banner-btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 8px;
}

.banner-btn .banner-spotify {
  display: flex;
  gap: 10px;
  border: 1px solid white;
  font-size: 1rem;
  font-weight: 600;

}

.banner-btn .Subscribe-btn {
  display: flex;
  gap: 15px;
  background: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
  border-radius: 2rem;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
}



/* About Podcast */
.about-podcast{
 color: white;
 margin: 50px auto;
 text-align: center;
 max-width: 1200px;
 /* border: 2px solid yellow; */
}
.about-break {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 3.5rem;
}

.about hr{
  margin: 80px 0;
  border: none;
  height: 1px;
  background-color: #412567;
}
.about-container-card{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  
}
.about-container-card .about-card{
  /* border: 1px solid #00FF88; */
  text-align: center;
}
.about-container-card .about-card h1{
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 1rem;
}
.about-container-card .about-card p{
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 5px 24px;
}










@media screen and (max-width:576px) {
  nav{
    margin: 0 1.25rem;
  }
  nav .nav-link, nav .nav-btn{
    display: none;
  }
 .nav-button-replacement{
  display: flex;
  margin-right: 1rem;
}
/* banner */
.banner {
  background-size: contain;
  background-position: center;
  padding: 2.5rem 1rem
  
}
.banner-img-container {
 
  max-width: 200px;
  margin: 0 auto;
  padding: 3rem 3.5rem;
  margin-bottom: 1.5rem;
  
}
.banner-img-container .banner-microphone{
  width: 100%;
  height: auto;
  padding: 5px;

}
.banner-container-description{
  margin-bottom: 1rem;
}

/* about podcast */

.about-podcast{
 margin: 40px auto;
}
.about{

  padding: 1rem 1.25rem 0;
}
.about-description h1{
  margin-bottom: 1rem;
}
.about-break{
  display: block;
  margin-bottom: 16px;
}
.about hr{
  margin: 2.5rem 0;
}
.about-container-card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2.3rem;
  padding: 0  1.25rem;
}
}