/* universal */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body{
  background-color: #1A0B2E;
}
html{
  font-size: 16px;
}
/* shared size */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.shared-btn{
  color: white;
  background: linear-gradient(45deg , #F7E93F 0% ,#FB09B4 51% ,#9100F8 100%);
  border: none;
  border-radius: 0.85rem;
  padding: 0.75rem 1rem;
}

/* nav */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  max-width: 1600px;
  margin: 0 auto;
  /* border: 2px solid lime;
  background-color: #412567; */
}
nav .nav-logo p{
  font-size: 2rem;
  font-weight: 800;
  color: white;
}
.logo-span{
  background: linear-gradient(0deg ,#F7E93F 0% ,#FB09B4 51% ,#9100F8 100%);
  background-clip: text; 
  color: transparent; 
}
nav .nav-link ul{
  display: flex;
  gap: 32px;
}
nav .nav-link ul a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
nav .nav-link ul li{
  list-style: none;
  
  
}
.nav-btn{
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 600;
}
